### Automatização de Processos com MySQL e Python
Automatização de Processos Robóticos (RPA) é uma área que busca automatizar tarefas repetitivas por meio de softwares que interagem com sistemas de maneira similar a um ser humano. Em Python, podemos utilizar diversas bibliotecas para manipular bancos de dados e realizar tarefas relacionadas a RPA. Neste notebook, vamos aprender como conectar-se a um banco de dados, criar uma tabela e fazer uma inserção de dados usando a biblioteca Sqlalchemy.


<Center><h5><font>Fluxograma da Automatização de Processos com MySQL e Python </font></h5></center>

<center>



<img src="../img/Automatização_Processos_MySQL_Python.png" width="50%">
</center>

<font color="yellow">Requisitos</font>
***
Instalação da biblioteca
- Sqlalchemy (pip install SQLAlchemy)

#### Importação das Bibliotecas

In [3]:
import os
import dotenv
dotenv.load_dotenv('../config/.env')
import pandas as pd
from sqlalchemy import create_engine, text

#### Realiza Conexão com o Banco de Dados
***

In [4]:
def conectar_banco_mysql():
    try:
        user = os.environ['user_db']
        password = os.environ['password_db']
        host = os.environ['host']

        conexao = f'mysql://{user}:{password}@{host}'
        engine = create_engine(conexao)
        conn = engine.connect()
        print('Conexão Realizada com Sucesso!')
        return conn
    except Exception as e:
        print(f'Não foi possível realizar a conexão. Erro: {e}')

#### Validação da Conexão com o Servidor de Banco de Dados

In [5]:
conn = conectar_banco_mysql()

Não foi possível realizar a conexão. Erro: (MySQLdb.OperationalError) (1045, "Access denied for user 'leandro_lessa'@'localhost' (using password: YES)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

#### Criação do Banco de Dados
***

In [4]:
try:
    database = 'RPA'
    query = f'CREATE SCHEMA IF NOT EXISTS {database}'
    conn.execute(text(query))
    print('Banco de Dados criado com sucesso!')
except Exception as e:
    print(f'Não foi possível criar o banco de dados. Erro {e}')

Banco de Dados criado com sucesso!

#### Criação de Tabela no Banco de Dados
***

In [5]:
try:
    query_tabela =  '''
    use rpa;
    
    CREATE TABLE IF NOT EXISTS TB_PESSOA(
        COD_PESSOA INT,
        PESSOA    VARCHAR(50),
        IDADE     INT,
        PROFISSAO VARCHAR(100)
        )'''
    conn.execute(text(query_tabela))
    print('Tabela criada com sucesso.')
    
except Exception as e:
    print(f'Não foi possível criar a tabela. ERRO: {e}')

Tabela criada com sucesso.

#### Coleta de Dados de pessoas
***

In [6]:
local_arquivo = '../datasets/dados_pessoas.csv'
df = pd.read_csv(local_arquivo, sep=';')
df.head()

   cod_pessoa pessoa  idade   profissao
0           1   José     35   Professor
1           2    Ana     52  Enfermeiro
2           3  Maria     45    Advogado
3           4  Pedro     28  Engenheiro
4           5   João     32    Advogado

#### Inserção de Dados no Banco de Dados
***

In [16]:
for registro in df.itertuples():
    cod_pessoa = registro.cod_pessoa
    pessoa = registro.pessoa
    idade = registro.idade
    profissao = registro.profissao
    
    try:    
        query_inserir = f'''INSERT INTO TB_PESSOA(COD_PESSOA, PESSOA, IDADE, PROFISSAO)
                    VALUES({cod_pessoa}, '{pessoa}', {idade}, '{profissao}')'''
        conn.execute(text(query_inserir))
        print(f'Registro inserido com sucesso. {pessoa}')
    except Exception as e:
        print(f'Não foi possível inserir a pessoa: {pessoa}. ERRO: {e}')

Registro inserido com sucesso. José
Registro inserido com sucesso. Ana
Registro inserido com sucesso. Maria
Registro inserido com sucesso. Pedro
Registro inserido com sucesso. João
Registro inserido com sucesso. Carlos
Registro inserido com sucesso. Mariana
Registro inserido com sucesso. Pedro
Registro inserido com sucesso. Marina
Registro inserido com sucesso. José
Registro inserido com sucesso. Ana
Registro inserido com sucesso. Pedro
Registro inserido com sucesso. Mariana
Registro inserido com sucesso. Maria
Registro inserido com sucesso. Carlos
Registro inserido com sucesso. Leandro
Registro inserido com sucesso. Daniele
Registro inserido com sucesso. José
Registro inserido com sucesso. Mariana
Registro inserido com sucesso. Rodrigo

#### Visualizando Registros Armazenados no banco de Dados
***

In [11]:
query = '''  

SELECT * FROM TB_PESSOA;

'''
try:
    dados_coletados = pd.read_sql_query(query, conn)
    print(dados_coletados)
except Exception as e:
    print(f'Não foi possível realizar a consulta. ERRO: {e}')

    COD_PESSOA   PESSOA  IDADE    PROFISSAO
0            1     José     35    Professor
1            2      Ana     52   Enfermeiro
2            3    Maria     45     Advogado
3            4    Pedro     28   Engenheiro
4            5     João     32     Advogado
5            6   Carlos     40       Médico
6            7  Mariana     22   Enfermeiro
7            8    Pedro     50  Programador
8            9   Marina     58       Médico
9           10     José     30    Professor
10          11      Ana     28  Programador
11          12    Pedro     42   Engenheiro
12          13  Mariana     36     Advogado
13          14    Maria     60       Médico
14          15   Carlos     25   Engenheiro
15          16  Leandro     48    Professor
16          17  Daniele     33     Advogado
17          18     José     55   Enfermeiro
18          19  Mariana     20     Advogado
19          20  Rodrigo     38       Médico

#### Extração de Dados
Vamos juntos extrair todos os dados no qual a profissão da pessoa é programador. 
***

In [15]:
profissao = 'Professor'
query = f'''  

SELECT * FROM TB_PESSOA WHERE PROFISSAO = '{profissao}';

'''
try:
    dados_coletados = pd.read_sql_query(query, conn)
    print(dados_coletados)
except Exception as e:
    print(f'Não foi possível realizar a consulta. ERRO: {e}')

   COD_PESSOA   PESSOA  IDADE  PROFISSAO
0           1     José     35  Professor
1          10     José     30  Professor
2          16  Leandro     48  Professor