### Pesquisa de Preferências: Coleta e Armazenamento de Dados
***

##### Objetivo da Pesquisa

Esta pesquisa fictícia foi desenvolvida com o propósito de treinar e aprimorar todo o processo de Automação de Processos Robóticos (RPA) desde a coleta de dados, passando pelo tratamento, integração e armazenamento de informações. A simulação envolve a coleta de dados sobre preferências pessoais, hábitos e características demográficas dos participantes, fornecendo uma base prática para o desenvolvimento de habilidades em RPA.

#### Atividades de Coleta e Armazenamento

A principal atividade deste projeto é a coleta de dados por meio de questionários estruturados e a subsequente armazenagem dessas informações em um banco de dados. O processo é dividido em várias etapas essenciais para garantir a qualidade e a integridade dos dados, além de proporcionar uma experiência completa de automação:

1. **Desenvolvimento do Questionário**
   - Elaboramos um questionário detalhado para capturar informações sobre preferências pessoais (como bebida favorita, hobbies), características demográficas (como gênero e data de nascimento) e outros aspectos relevantes (como presença de animais de estimação e percepções sobre o clima).

2. **Coleta de Dados**
   - A coleta de dados é realizada por meio de entrevistas ou preenchimento de formulários online. Os participantes fornecem suas respostas, que são então capturadas automaticamente por bots de RPA.

3. **Tratamento de Dados**
   - **Verificação de Dados Duplicados**: Utilizando scripts automatizados, removemos registros duplicados para evitar redundâncias e garantir a precisão dos dados.
   - **Tratamento de Dados Ausentes**: Identificamos e lidamos com valores ausentes, utilizando métodos automáticos para preenchimento com valores padrão ou imputação baseada em algoritmos.
   - **Validação e Limpeza de Dados**: Bots de RPA validam automaticamente que todos os dados estão no formato adequado e dentro dos intervalos válidos, corrigindo inconsistências ou erros de entrada.

4. **Integração de Dados**
   - Os dados coletados e tratados são integrados de maneira automática com sistemas existentes, garantindo que todas as informações estejam disponíveis para análise e uso imediato.

5. **Armazenamento de Dados**
   - Após o tratamento e a integração, os dados são armazenados em um banco de dados estruturado. Este processo inclui a criação automatizada de tabelas e esquemas que organizam os dados de forma eficiente e acessível, além de implementar medidas de integridade referencial para assegurar a consistência dos dados entre diferentes tabelas.

<Center><h5><font>Fluxograma da Automatização Coleta e Armazenamento de Dados de Pesquisa de Preferências </font></h5></center>

<center>
<img src="../img/Pesquisa de Prefências.png" width="70%">
</center>



#### Objetivo Geral

A realização desta pesquisa fictícia oferece uma oportunidade valiosa para treinar e desenvolver habilidades em Automação de Processos Robóticos (RPA), abrangendo todas as etapas desde a coleta até o armazenamento de dados. O uso de bots de RPA para automatizar tarefas repetitivas e garantir a precisão dos dados permite uma experiência prática e completa. Com a prática adquirida, é possível aplicar esses conhecimentos em projetos reais, otimizando processos e tomando decisões mais informadas e eficazes.

### Importação das bibliotecas

In [1]:
import pandas as pd
import os
from sqlalchemy import create_engine, text
import dotenv
dotenv.load_dotenv('../config/.env')

True

#### Coletando Dados da Pesquisa
***

In [51]:
PATH = '../datasets/dados_pesquisa_preferencias/'
list_path = os.listdir(PATH)

lista_df = []

#--------------------FOR-------------------------------

for arquivo in list_path:
       local_arquivo = os.path.join(PATH, arquivo)
       if arquivo.endswith('.csv'):
            df = pd.read_csv(local_arquivo, sep=';', encoding='latin1')
            lista_df.append(df)
            
#---------------------------------------------------

df_pesquisa = pd.concat(lista_df)

In [3]:
df_pesquisa.head()

,cod_pessoa,data_coleta,animal_estimacao,clima,bebida_favorita,hobby,atividade_fisica,preferencia_musical
0,10141743,2024-01-05,Lagarto,frio,Cerveja,Praticar esporte,Diária,Pop
1,10141860,2024-01-05,Coelho,quente,Café,Assistir TV,Semanal,Pop
2,10142548,2024-01-05,Lagarto,frio,Café,Ler livros,Nunca,Rock
3,10142591,2024-01-05,Pássaro,moderado,Cerveja,Aprender algo novo,Mensal,Rock
4,10142654,2024-01-05,Lagarto,moderado,Café,Assistir TV,Nunca,Pop

In [4]:
df_pesquisa.shape

(2127, 8)

#### Coletando Dados dos Respondentes
***

In [5]:
PATH = '../datasets/dados_pessoas_respondentes/respondentes_pesquisa.csv'
df_respondentes = pd.read_csv(PATH, sep='|', encoding='latin')

In [6]:
df_respondentes.head()

,cod_pessoa,genero,data_nascimento,educacao,renda_mensal,peso,colesterol,estado_civil,id_estado
0,10141743,Masculino,1981-04-25,Pós-Graduação,1000-3000,61.018446,96.777322,Viúvo,19
1,10141860,Feminino,1966-01-19,Ensino Médio,> 5000,108.557401,176.108130,Viúvo,1
2,10142548,Masculino,1973-08-02,Pós-Graduação,> 5000,112.349921,144.110224,Casado,19
3,10142591,Masculino,1997-03-05,Ensino Fundamental,< 1000,116.238829,235.386072,Divorciado,17
4,10142654,Feminino,1969-08-05,Graduação,3000-5000,88.609912,38.102665,Casado,15

In [7]:
df_respondentes.shape

(2195, 9)

#### Coletando Dados de Estados
***

In [8]:
PATH = '../datasets/dados_estado_regiao/estado_regiao.csv'
df_estados = pd.read_csv(PATH, sep=';', encoding='latin')

In [9]:
df_estados.head()

   cod_estado sigla    estado    regiao    pais
0           1    AC      Acre     Norte  Brasil
1           2    AL   Alagoas  Nordeste  Brasil
2           3    AP     Amapá     Norte  Brasil
3           4    AM  Amazonas     Norte  Brasil
4           5    BA     Bahia  Nordeste  Brasil

In [10]:
df_estados.shape

(27, 5)

#### Analisando Dados Coletados

In [11]:
def verifica_dados_duplicados(nome_dataframe, dataframe):
    qtd = dataframe.duplicated().sum()
    print(f'O dataframe {nome_dataframe} possui {qtd} dados duplicados')

In [12]:
verifica_dados_duplicados('df_pesquisa', df_pesquisa)

O dataframe df_pesquisa possui 0 dados duplicados

In [13]:
verifica_dados_duplicados('df_respondentes', df_respondentes)

O dataframe df_respondentes possui 68 dados duplicados

In [14]:
lista_dataframes = [
    ('df_pesquisa', df_pesquisa),
    ('df_respondentes', df_respondentes),
    ('df_estados', df_estados)
]

for nome_dataframe, dataframe in lista_dataframes:
    verifica_dados_duplicados(nome_dataframe, dataframe)

O dataframe df_pesquisa possui 0 dados duplicados
O dataframe df_respondentes possui 68 dados duplicados
O dataframe df_estados possui 0 dados duplicados

#### Avaliando Dados Ausentes

In [15]:
def verifica_dados_ausente(nome_dataframe, dataframe):
    dados_ausentes = dataframe.isna().sum()
    colunas_com_ausentes = dados_ausentes[dados_ausentes > 0]
    
    print('--' * 50)
    
    if not colunas_com_ausentes.empty:
        print(f'O dataframe {nome_dataframe} possui dados ausentes.\nLista de colunas:')
        return print(colunas_com_ausentes)
    else:
        print(f'O dataframe {nome_dataframe} não possui dados ausentes.')

In [16]:
for nome_dataframe, dataframe in lista_dataframes:
    verifica_dados_ausente(nome_dataframe, dataframe)

----------------------------------------------------------------------------------------------------
O dataframe df_pesquisa não possui dados ausentes.
----------------------------------------------------------------------------------------------------
O dataframe df_respondentes possui dados ausentes.
Lista de colunas:
peso             5
estado_civil    10
dtype: int64
----------------------------------------------------------------------------------------------------
O dataframe df_estados não possui dados ausentes.

In [17]:
df_respondentes.isna().sum()

cod_pessoa          0
genero              0
data_nascimento     0
educacao            0
renda_mensal        0
peso                5
colesterol          0
estado_civil       10
id_estado           0
dtype: int64

### Tratamento de Dados (Data Cleaning/Preprocessing)
***

##### Corrigindo Dados Duplicados

In [18]:
df_respondentes.drop_duplicates(inplace=True)

In [19]:
verifica_dados_duplicados('df_respondentes', df_respondentes)

O dataframe df_respondentes possui 0 dados duplicados

#### Analisando Dados Ausentes da Variável - Peso
***

In [20]:
filtro = df_respondentes['peso'].isna()
index_ausentes_peso = df_respondentes[filtro].index
df_respondentes.loc[index_ausentes_peso]

,cod_pessoa,genero,data_nascimento,educacao,renda_mensal,peso,colesterol,estado_civil,id_estado
181,10142685,Masculino,1976-03-21,Ensino Fundamental,> 5000,NaN,108.966948,Casado,14
185,10141565,Feminino,1977-02-22,Ensino Médio,3000-5000,NaN,25.326362,Solteiro,13
193,10143060,Masculino,1997-11-08,Ensino Médio,> 5000,NaN,49.742039,Divorciado,26
204,10141710,Masculino,1990-04-01,Graduação,3000-5000,NaN,54.821494,Solteiro,19
224,10142610,Feminino,1969-08-26,Graduação,> 5000,NaN,146.816434,Solteiro,19

##### Correção dos Dados de Peso

In [21]:
media_peso = df_respondentes['peso'].mean().round(2)
print(media_peso)
df_respondentes['peso'] = df_respondentes['peso'].fillna(value=media_peso)

84.6

##### Verificando Dados Corrigidos

In [22]:
df_respondentes.loc[index_ausentes_peso]

,cod_pessoa,genero,data_nascimento,educacao,renda_mensal,peso,colesterol,estado_civil,id_estado
181,10142685,Masculino,1976-03-21,Ensino Fundamental,> 5000,84.6,108.966948,Casado,14
185,10141565,Feminino,1977-02-22,Ensino Médio,3000-5000,84.6,25.326362,Solteiro,13
193,10143060,Masculino,1997-11-08,Ensino Médio,> 5000,84.6,49.742039,Divorciado,26
204,10141710,Masculino,1990-04-01,Graduação,3000-5000,84.6,54.821494,Solteiro,19
224,10142610,Feminino,1969-08-26,Graduação,> 5000,84.6,146.816434,Solteiro,19

#### Analisando Dados Ausentes da Variável - Estado Civil
***

In [23]:
filtro = df_respondentes['estado_civil'].isna()
index_ausentes_estado_civil = df_respondentes[filtro].index
df_respondentes.loc[index_ausentes_estado_civil]

,cod_pessoa,genero,data_nascimento,educacao,renda_mensal,peso,colesterol,estado_civil,id_estado
271,10141831,Feminino,1966-01-13,Ensino Médio,3000-5000,91.489051,78.089773,NaN,6
277,10142166,Masculino,1998-12-06,Ensino Médio,< 1000,85.877336,28.497725,NaN,6
288,10143274,Feminino,1972-03-08,Pós-Graduação,> 5000,64.992991,107.098409,NaN,9
290,10142110,Masculino,1974-02-12,Graduação,> 5000,68.556250,149.087554,NaN,23
296,10143104,Masculino,1982-08-06,Ensino Fundamental,< 1000,65.035652,62.671528,NaN,16
372,10142506,Masculino,1958-03-25,Pós-Graduação,3000-5000,99.129843,26.965852,NaN,12
378,10142356,Masculino,1996-05-02,Ensino Médio,3000-5000,69.841890,22.331822,NaN,19
382,10143583,Feminino,1990-09-22,Graduação,> 5000,87.227097,154.098201,NaN,25
391,10142257,Masculino,1951-11-06,Ensino Fundamental,1000-3000,69.619009,10.386760,NaN,12
394,10142985,Masculino,1970-04-05,Ensino Fundamental,< 1000,107.139193,232.983415,NaN,2

##### Correção dos Dados de Estado Civil

In [24]:
moda_estado_civil = df_respondentes['estado_civil'].mode()[0]
print(moda_estado_civil)
df_respondentes['estado_civil'] = df_respondentes['estado_civil'].fillna(value=moda_estado_civil)

Casado

##### Verificando Dados Corrigidos

In [25]:
df_respondentes.loc[index_ausentes_estado_civil]

,cod_pessoa,genero,data_nascimento,educacao,renda_mensal,peso,colesterol,estado_civil,id_estado
271,10141831,Feminino,1966-01-13,Ensino Médio,3000-5000,91.489051,78.089773,Casado,6
277,10142166,Masculino,1998-12-06,Ensino Médio,< 1000,85.877336,28.497725,Casado,6
288,10143274,Feminino,1972-03-08,Pós-Graduação,> 5000,64.992991,107.098409,Casado,9
290,10142110,Masculino,1974-02-12,Graduação,> 5000,68.556250,149.087554,Casado,23
296,10143104,Masculino,1982-08-06,Ensino Fundamental,< 1000,65.035652,62.671528,Casado,16
372,10142506,Masculino,1958-03-25,Pós-Graduação,3000-5000,99.129843,26.965852,Casado,12
378,10142356,Masculino,1996-05-02,Ensino Médio,3000-5000,69.841890,22.331822,Casado,19
382,10143583,Feminino,1990-09-22,Graduação,> 5000,87.227097,154.098201,Casado,25
391,10142257,Masculino,1951-11-06,Ensino Fundamental,1000-3000,69.619009,10.386760,Casado,12
394,10142985,Masculino,1970-04-05,Ensino Fundamental,< 1000,107.139193,232.983415,Casado,2

## Modelo de Entidade e Relacionamento 
***

<font color="yellow">Conceito</font>


Um modelo de entidade e relacionamento (ER) é uma representação visual e conceitual usada para descrever a estrutura lógica de uma base de dados. Ele serve como um plano detalhado que mapeia como os dados se relacionam entre si dentro do sistema, facilitando a organização e a gestão de informações.

Componentes do Modelo ER
Entidades: Representam objetos ou coisas do mundo real sobre os quais se deseja armazenar informações. Uma entidade pode ser uma pessoa, lugar, evento ou qualquer outro elemento relevante para o sistema. Por exemplo, em um sistema de gerenciamento de pesquisa de preferências, entidades podem incluir "participante", "pesquisa" e "estado".

Atributos: São propriedades ou características das entidades. Cada entidade possui um conjunto de atributos que descrevem suas propriedades. Por exemplo, a entidade "participantes" pode ter atributos como "genero", "data_nascimento" e "nome".

Relacionamentos: Descrevem como as entidades interagem entre si. Um relacionamento indica a associação entre uma ou mais entidades. Por exemplo, o relacionamento "realizado por" pode conectar as entidades "participante" e "pesquisa", indicando quais autores realizam a pesquisa.

<center>

<img src="../img/MER_pesquisa_referencias.png" width="70%">
</center>

### Conexão com o Banco de Dados
***

In [26]:
def conectar_banco_mysql():
    try:
        user = os.environ['user_db']
        password = os.environ['password_db']
        host = os.environ['host']

        conexao = f'mysql://{user}:{password}@{host}'
        engine = create_engine(conexao)
        conn = engine.connect()
        print('Conexão Realizada com Sucesso!')
        return conn
    except Exception as e:
        print(f'Não foi possível realizar a conexão. Erro: {e}')

#### Validação da Conexão com o Servidor de Banco de Dados

In [27]:
conn = conectar_banco_mysql()

Conexão Realizada com Sucesso!

#### Criação do Banco de Dados
***

In [28]:
try:
    database = 'pesquisa_preferencias'
    query = f'create schema if not exists {database}'
    conn.execute(text(query))
    print('Banco de dados criado com sucesso!')
    conn.commit()
except Exception as e:
    print(f'Não foi possível criar o banco de dados. Erro: {e}')

Banco de dados criado com sucesso!

#### Executa o Script de Criação das Tabelas e Seus Relacionamentos

In [29]:
with open('../script_DB/create_database_pesquisa_preferencias.sql') as file:
    query = file.read()

try:
    conn.execute(text(query))
    conn.commit()
    print('Tabelas criadas com sucesso!')
except Exception as e:
    print(f'Não foi possível criar as tabelas do banco de dados. Erro: {e}')

Tabelas criadas com sucesso!

#### Feature Engineering
***

In [30]:
df_respondentes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2127 entries, 0 to 2126
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   cod_pessoa       2127 non-null   int64
 1   genero           2127 non-null   object
 2   data_nascimento  2127 non-null   object
 3   educacao         2127 non-null   object
 4   renda_mensal     2127 non-null   object
 5   peso             2127 non-null   float64
 6   colesterol       2127 non-null   float64
 7   estado_civil     2127 non-null   object
 8   id_estado        2127 non-null   int64
dtypes: float64(2), int64(2), object(5)
memory usage: 230.7+ KB

#### Criação da Variável de Idade

In [31]:
data_hoje = pd.to_datetime('today')
df_respondentes['data_nascimento'] = pd.to_datetime(df_respondentes['data_nascimento'])
df_respondentes['idade'] = ((data_hoje - df_respondentes['data_nascimento']).dt.days / 365.25).astype(int)

In [32]:
df_respondentes.head()

,cod_pessoa,genero,data_nascimento,educacao,renda_mensal,peso,colesterol,estado_civil,id_estado,idade
0,10141743,Masculino,1981-04-25,Pós-Graduação,1000-3000,61.018446,96.777322,Viúvo,19,43
1,10141860,Feminino,1966-01-19,Ensino Médio,> 5000,108.557401,176.108130,Viúvo,1,58
2,10142548,Masculino,1973-08-02,Pós-Graduação,> 5000,112.349921,144.110224,Casado,19,51
3,10142591,Masculino,1997-03-05,Ensino Fundamental,< 1000,116.238829,235.386072,Divorciado,17,27
4,10142654,Feminino,1969-08-05,Graduação,3000-5000,88.609912,38.102665,Casado,15,55

#### Correção Variáveis Peso e Colesterol

In [33]:
df_respondentes['peso'] = df_respondentes['peso'].round(2)
df_respondentes['colesterol'] = df_respondentes['colesterol'].round(2)

In [34]:
df_respondentes.head()

,cod_pessoa,genero,data_nascimento,educacao,renda_mensal,peso,colesterol,estado_civil,id_estado,idade
0,10141743,Masculino,1981-04-25,Pós-Graduação,1000-3000,61.02,96.78,Viúvo,19,43
1,10141860,Feminino,1966-01-19,Ensino Médio,> 5000,108.56,176.11,Viúvo,1,58
2,10142548,Masculino,1973-08-02,Pós-Graduação,> 5000,112.35,144.11,Casado,19,51
3,10142591,Masculino,1997-03-05,Ensino Fundamental,< 1000,116.24,235.39,Divorciado,17,27
4,10142654,Feminino,1969-08-05,Graduação,3000-5000,88.61,38.10,Casado,15,55

#### Integração de Dados
***

In [35]:
df_pesquisa.head()

,cod_pessoa,data_coleta,animal_estimacao,clima,bebida_favorita,hobby,atividade_fisica,preferencia_musical
0,10141743,2024-01-05,Lagarto,frio,Cerveja,Praticar esporte,Diária,Pop
1,10141860,2024-01-05,Coelho,quente,Café,Assistir TV,Semanal,Pop
2,10142548,2024-01-05,Lagarto,frio,Café,Ler livros,Nunca,Rock
3,10142591,2024-01-05,Pássaro,moderado,Cerveja,Aprender algo novo,Mensal,Rock
4,10142654,2024-01-05,Lagarto,moderado,Café,Assistir TV,Nunca,Pop

In [36]:
df_respondentes.head()

,cod_pessoa,genero,data_nascimento,educacao,renda_mensal,peso,colesterol,estado_civil,id_estado,idade
0,10141743,Masculino,1981-04-25,Pós-Graduação,1000-3000,61.02,96.78,Viúvo,19,43
1,10141860,Feminino,1966-01-19,Ensino Médio,> 5000,108.56,176.11,Viúvo,1,58
2,10142548,Masculino,1973-08-02,Pós-Graduação,> 5000,112.35,144.11,Casado,19,51
3,10142591,Masculino,1997-03-05,Ensino Fundamental,< 1000,116.24,235.39,Divorciado,17,27
4,10142654,Feminino,1969-08-05,Graduação,3000-5000,88.61,38.10,Casado,15,55

In [37]:
df = pd.merge(left=df_pesquisa, right=df_respondentes, left_on='cod_pessoa', right_on='cod_pessoa', how='inner')

In [38]:
df.head()

,cod_pessoa,data_coleta,animal_estimacao,clima,bebida_favorita,hobby,atividade_fisica,preferencia_musical,genero,data_nascimento,educacao,renda_mensal,peso,colesterol,estado_civil,id_estado,idade
0,10141743,2024-01-05,Lagarto,frio,Cerveja,Praticar esporte,Diária,Pop,Masculino,1981-04-25,Pós-Graduação,1000-3000,61.02,96.78,Viúvo,19,43
1,10141860,2024-01-05,Coelho,quente,Café,Assistir TV,Semanal,Pop,Feminino,1966-01-19,Ensino Médio,> 5000,108.56,176.11,Viúvo,1,58
2,10142548,2024-01-05,Lagarto,frio,Café,Ler livros,Nunca,Rock,Masculino,1973-08-02,Pós-Graduação,> 5000,112.35,144.11,Casado,19,51
3,10142591,2024-01-05,Pássaro,moderado,Cerveja,Aprender algo novo,Mensal,Rock,Masculino,1997-03-05,Ensino Fundamental,< 1000,116.24,235.39,Divorciado,17,27
4,10142654,2024-01-05,Lagarto,moderado,Café,Assistir TV,Nunca,Pop,Feminino,1969-08-05,Graduação,3000-5000,88.61,38.10,Casado,15,55

In [39]:
df_estados.head()

   cod_estado sigla    estado    regiao    pais
0           1    AC      Acre     Norte  Brasil
1           2    AL   Alagoas  Nordeste  Brasil
2           3    AP     Amapá     Norte  Brasil
3           4    AM  Amazonas     Norte  Brasil
4           5    BA     Bahia  Nordeste  Brasil

In [40]:
df = pd.merge(left=df, right=df_estados, left_on='id_estado', right_on='cod_estado', how='inner')

In [41]:
df.head()

,cod_pessoa,data_coleta,animal_estimacao,clima,bebida_favorita,hobby,atividade_fisica,preferencia_musical,genero,data_nascimento,...,peso,colesterol,estado_civil,id_estado,idade,cod_estado,sigla,estado,regiao,pais
0,10141743,2024-01-05,Lagarto,frio,Cerveja,Praticar esporte,Diária,Pop,Masculino,1981-04-25,...,61.02,96.78,Viúvo,19,43,19,RJ,Rio de Janeiro,Sudeste,Brasil
1,10141860,2024-01-05,Coelho,quente,Café,Assistir TV,Semanal,Pop,Feminino,1966-01-19,...,108.56,176.11,Viúvo,1,58,1,AC,Acre,Norte,Brasil
2,10142548,2024-01-05,Lagarto,frio,Café,Ler livros,Nunca,Rock,Masculino,1973-08-02,...,112.35,144.11,Casado,19,51,19,RJ,Rio de Janeiro,Sudeste,Brasil
3,10142591,2024-01-05,Pássaro,moderado,Cerveja,Aprender algo novo,Mensal,Rock,Masculino,1997-03-05,...,116.24,235.39,Divorciado,17,27,17,PE,Pernambuco,Nordeste,Brasil
4,10142654,2024-01-05,Lagarto,moderado,Café,Assistir TV,Nunca,Pop,Feminino,1969-08-05,...,88.61,38.10,Casado,15,55,15,PB,Paraíba,Nordeste,Brasil

#### Praparação dos Dados
***

In [42]:
df.columns

Index(['cod_pessoa', 'data_coleta', 'animal_estimacao', 'clima',
       'bebida_favorita', 'hobby', 'atividade_fisica', 'preferencia_musical',
       'genero', 'data_nascimento', 'educacao', 'renda_mensal', 'peso',
       'colesterol', 'estado_civil', 'id_estado', 'idade', 'cod_estado',
       'sigla', 'estado', 'regiao', 'pais'],
      dtype='object')

#### Inserindo Registros no Banco de Dados
***

#### Inserção de Dados

#### Inserção de Dados Tabelas: Estado - Pessoa e Pesquisa
***

#### Criação da Tabela Stage
***

A tabela "stage" em um banco de dados relacional é frequentemente utilizada como uma área temporária para armazenar dados que estão em processo de carregamento, transformação ou validação antes de serem movidos para as tabelas finais de destino. Essa abordagem é comum em processos de ETL (Extração, Transformação e Carga) onde dados brutos são extraídos de várias fontes, carregados na tabela de stage para processamento intermediário, e posteriormente transformados e carregados nas tabelas definitivas do banco de dados.

#### Inserção de Dados na Tabela de Pessoa

#### Inserção de Dados na Tabela de pesquisa